<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <player>
    <folder>textures/</folder>
    <sprite_sheet source="MC_MarisaKirisame.png"/>
    <accel x="2" y="0"/>
    <maxSpeed x="10" y="5"/>
  </player>

  <scene>
    <map_name name="MaidInAbyss.tmx"></map_name>
    <map_name name="DepthsOfTheAbyss.tmx"></map_name>
  </scene>



</config>