<!-- Config file for the game -->

<config>
  <app framerate_cap="30">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <audio>
    <music> 
      <folder>audio/music/</folder>
    </music>
   <sfx> 
      <folder>audio/fx/</folder>
    </sfx>
  </audio>
  
  <map>
    <folder>maps/</folder>
  </map>

  <entitycontroller>
    <folder>textures/</folder>
    <sprite_sheet source="Entities.png"/>
    <totaltimestop value="3"/>
    <player>
      <jumpFX source="Jump.wav"/>
      <deathFX source="Death.wav"/>
      <landFX source="Land.wav"/>
      <dashFX source="Dash.wav"/>
      <accel x="1" y="1"/>

      <gravity value="50"/>
      <jumpForce x="0" y="-30"/>

      <maxSpeed x="360" y="600"/>
      <dashingSpeed x="600" y="0"/>
      <dashingColliderDifference value="0"/>
      <colOffset x="11" y="9"/>
      <dashtime value="500"/>
    </player>
    
    <flyingfurrball>
      <gravity value="0"/>
      <maxSpeed x="300" y="300"/>
      <colOffset x="5" y ="5"/>
      <Collider h="31" w="31"/>
      <sightOffset x="400" y="300"/>
      <SightCollider w="1000" h="650"/>
    </flyingfurrball>

    <landmaid>
      <gravity value="50"/>
      <maxSpeed x="300" y="300"/>
      <colOffset x="5" y ="5"/>
      <Collider h="60" w="31"/>
      <sightOffset x="400" y="300"/>
      <SightCollider w="1000" h="650"/>
    </landmaid>
    
  </entitycontroller>
 

  <scene>
    <map_name name="MaidInAbyss.tmx"></map_name>
    <map_name name="DepthsOfTheAbyss.tmx"></map_name>
    <fade_time value="1"/>
  </scene>

</config>